@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #040406;
  --foreground: #f1f1f3;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #040406;
}
::-webkit-scrollbar-thumb {
  background: #1e1e2d;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
